.body_index {
  .header_index {
    height: 200px;
    background-image: url("../img/giphTechno.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -300px;
    

    .buttons {
      display: flex;
      justify-content: space-between;
      margin: 0px 20px;
      padding-top: 20px;

      form {
        background-color: #1c484e;
        width: 300px;
        height: 44px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
          all: unset;
          font: 16px $comic;
          color: $bluetext;
          height: 100%;
          width: 100%;
          padding: 6px 10px;

          ::placeholder {
            color: $bluetext;
            opacity: 0.7;
          }
        }

        .button_search {
          all: unset;
          cursor: pointer;
          width: 44px;
          height: 44px;

          svg {
            color: $bluetext;
            fill: currentColor;
            width: 24px;
            height: 24px;
            padding: 10px;
          }
        }
      }

      .buttons_Add_Edit{
        display: flex;
        justify-content: space-between;
        margin: 0px 20px;
        width: 400px;
        height: 44px;
        
          .button_add {
            background-color: #1c484e;
            border: none;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            transition: all 0.5s;

          &:hover {
            transform: scale(1.1);
          }

          a {
            text-decoration: none;
            font: 16px $comic;
            color: $bluetext;
            padding: 12px 20px;
          }
        }
      }
    }

    .title {
      text-align: center;
      font-family: $comic;
      font-size: xx-large;
      font-weight: bold;

      .title_ajt {
        text-decoration: none;
        color: $bluetext;
      }
    }
  }
}