$comic: "Comic Neue", cursive;
$bluetext: #53ddd4;
$yellow: #ffee10;
$charblue: #6cfcf3;

@mixin input {
    font-size: small;
    font-weight: 600;
    border-radius: 5px;
    all: unset;
    font: 16px $comic;
    width: 380px;
    margin-bottom: 25px;
    padding-left: 20px;
    border: none;
    border-bottom: 1px solid $bluetext;
    background-color: #1c484e;
    ;
    border-radius: 5px;

}

;

@mixin focus {
    outline: none;
    border-bottom: 3px solid $bluetext;
}

;